<app-header></app-header>
<div class="row">
    <div class="mt-4 col-md-4 offset-md-4">
      <div class="guest-form-card card">
  
        <div class="card-header text-center">
          <h2>Add Product</h2>
        </div>
  
        <div class="card-body">
          <form [formGroup]="addProductsForm" (ngSubmit)="onSubmit($event)">
            <div class="form-group">
              <label for="name">Product Name</label>
              <input
                id="name" required minlength="1"
                class="form-control" formControlName="name"
                [ngClass]="{ 'is-invalid': f.name.touched && f.name.invalid }"
              />
              <span class="invalid-feedback">This field can't be blank.</span>

            </div>

            <div class="mb-2 form-group">
                <label for="category">Category</label>   
                <select  class="form-control" class="form-control" formControlName="category"
                [ngClass]="{ 'is-invalid': f.category.touched && f.category.invalid }" > 
                  <option  *ngFor="let item of categoryList" [value]="item.category_id">{{item.category_name}}</option>
                </select>  
                <span class="invalid-feedback">Select one of the items.</span>
              </div>
              
              <div class="form-group">
                <label for="code">Product Code</label>
                <input
                  id="code" required minlength="1"
                  class="form-control" formControlName="code"
                  [ngClass]="{ 'is-invalid': f.code.touched && f.code.invalid }"
                />
                <span class="invalid-feedback">This field can't be blank.</span>

              </div>
            
            <div class="form-group">
              <label for="description">Description</label>
              <input
                id="description" required minlength="1"
                class="form-control" formControlName="description"
                [ngClass]="{ 'is-invalid': f.description.touched && f.description.invalid }"
              />
              <span class="invalid-feedback">This field can't be blank.</span>

            </div>

            <div class="mb-2 form-group">
                <label for="price">Price</label>
                <input
                  id="price" required minlength="1"
                  class="form-control" formControlName="price"
                  [ngClass]="{ 'is-invalid': f.price.touched && f.price.invalid }"
                />
                <span class="invalid-feedback">This field can't be blank.</span>

                <div class="form-group">
                  <label for="file" class="mb-1 mt-2" style="font-size: medium;">File</label>
                  <input type="file" required class="form-control" id="file" name="file" 
      
                  (change)= "imageSelected($event)" > 
                  <!-- <button class="mt-2 btn btn-success" style="margin-left:71%" type="submit" >Upload File</button> -->
              </div>

            </div>
  
            <!-- <button class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Submit</button> -->
            <button class="btn btn-primary btn-block" [disabled]="addProductsForm.invalid" >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

