<app-header></app-header>
<!-- <div class="card ">
    <img
      src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
      <a href="#!" class="btn btn-primary">Button</a>
    </div>
  </div> -->

  <div class="row">
    <div class="mt-4 col-md-4 offset-md-4">
      <div class="guest-form-card card">
  
        <div class="card-header text-center">
          <h2>Checkout</h2>
        </div>
  
        <div class="card-body">
          <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="line_1">Line 1</label>
              <input
                id="line1" required minlength="1"
                class="form-control"
                formControlName="line1"
                [ngClass]="{ 'is-invalid': f.line1.touched && f.line1.invalid }"
              />
              <span class="invalid-feedback">This field can't be blank.</span>
            </div>

            <div class="mt-2 form-group">
              <label for="line2">Line 2</label>
              <input
                id="line2"
                class="form-control" formControlName="line2"
              />
            </div>

            <div class="mt-2  form-group">
              <label for="city">City </label>
              <input
                id="city" required minlength="1"
                class="form-control" formControlName="city"
                [ngClass]="{ 'is-invalid': f.city.touched && f.city.invalid }"
              />
              <span class="invalid-feedback">This field can't be blank</span>
            </div>

            <div class="mt-2  form-group">
              <label for="state">State</label>
              <input
                id="state" maxlength="2"
                class="form-control" formControlName="state"
                [ngClass]="{ 'is-invalid': f.state.touched && f.state.invalid }"
              />
              <span class="invalid-feedback">Please enter max 2 digit value</span>
            </div>

            <div class="mt-2  form-group">
              <label for="zipcode">Zipcode</label>
              <input
                id="zipcode" maxlength="10"
                class="form-control" formControlName="zipcode"
                [ngClass]="{ 'is-invalid': f.zipcode.touched && f.zipcode.invalid }"
              />
              <span class="invalid-feedback">Please enter max 10 value</span>
            </div>

            <div class="mt-2  form-group">
              <label for="phone">Phone</label>
              <input
                id="phone" minlength="10" maxlength="12"
                class="form-control" formControlName="phone"
                [ngClass]="{ 'is-invalid': f.phone.touched && f.phone.invalid }"
              />
              <span class="invalid-feedback">Please enter 10-12 digit value</span>
            </div>

            <!-- <button class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Submit</button> -->
            <button class="mt-3 btn btn-primary btn-block" >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <button class="btn btn-primary"  (click)=openModal()> 
    Show Modal
</button> -->

<!-- <div *ngIf="this.showModal">
  <modal #successModal>
      <modal-header>
          Order Successfull.
      </modal-header>
  
      <modal-content>
          We didn't implement payment gateway. 
      </modal-content>
  
      <modal-footer>
        <button class="btn btn-primary" (click)="closeModal()">close</button>
            </modal-footer>
  </modal>
</div> -->