<app-products></app-products>
<!-- <div class="row">
    <div class="mt-4 col-md-4 offset-md-4">
      <div class="guest-form-card card">
  
        <div class="card-header text-center">
          <h2>Add Product</h2>
        </div>
  
        <div class="card-body">
          <form >
            <div class="form-group">
              <label for="name">Product Name</label>
              <input
                id="name"
                class="form-control"
                formControlName="name"
              />
            </div>

            <div class="mb-2 form-group">
                <label for="website"></label>   
                <select formControlName="website" class="form-control"> 
                    <option disabled>Mobile</option>  
                    <option>Fashion</option>
                    <option>Electronics</option>    
                </select>  
              </div>
  
            
            <div class="form-group">
              <label for="username">Quantity</label>
              <input
                id="username"
                class="form-control"
                formControlName="quanity"
              />
            </div>

            <div class="mb-2 form-group">
                <label for="username">Price</label>
                <input
                  id="username"
                  class="form-control"
                  formControlName="price"
                />
              </div>
  
  
            <button class="btn btn-primary btn-block" >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
<!-- 
<div class="m-4">
  <button class=" addProduct btn btn-primary btn-block" routerLink="addProducts"  >Add Products</button>
</div>
<div class="m-4">
  <button class="viewOrderHistorybtn btn-primary btn-block" >View Order History</button>
</div> -->